.banner{
    display: flex;
    box-shadow: 1px 2px 7px black;
    background-image: url(../../components/Banner-Inicio/imgs/Fondo.png);
    background-repeat: no-repeat; 
    background-size: cover;
    .foto-perfil{
        width: 24%;
        margin: 20px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
    }
    .titulos{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        gap: 24px;
        .titulos-primarios{
            color: white;
            font-size: 70px;
            font-family: 'Libre Franklin', sans-serif;
            font-weight: 600;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            margin-left: 80px;
            .titulos-secundarios{
                color: white;
                font-size: 70px;
                font-family: 'Libre Franklin', sans-serif;
                font-weight: 500;
            }
            .titulos-terciarios{
                color: white;     
                font-size: 55px;
                font-family: 'Libre Franklin', sans-serif;
                font-weight: 500;
            }
        }
    }
    .bandera{
        width: 140px;
        height: 94px;
        margin: 20px;
        margin-left: 100px;
    }
}

@media (max-width: 1025px) {
    .banner{
        .foto-perfil{
            height: 100%;
        }
        .titulos{
            gap: 14px;
            .titulos-primarios{
                font-size: 58px;
            }
            div{
                .titulos-secundarios{
                    font-size: 42px;
                }
                .titulos-terciarios{
                    font-size: 32px;
                }
            }
        }
        .bandera{
            width: 13%;
            height: 100%;
            margin: 1%;
            margin-left: 12%;
        }
    }
}
@media (max-width: 769px) {
    .banner{
        .titulos{
            gap: 12px;
            .titulos-primarios{
                font-size: 46px;
            }
            div{
                .titulos-secundarios{
                    font-size: 28px;
                }
                .titulos-terciarios{
                    font-size: 22px;
                }
            }
        }
    }
}
@media (max-width: 426px) {
    .banner{
        .titulos{
            gap: 8px;
            .titulos-primarios{
                font-size: 24px;
            }
            div{
                gap: 10px;
                margin-left: 52px;
                .titulos-secundarios{
                    font-size: 13px;
                }
                .titulos-terciarios{
                    font-size: 10px;
                }
            }
        }
        .bandera{
            width: 11%;
            margin-left: 13%;
        }
    }
}