.contenedor{
    display: flex;
    justify-content: center;
    .descripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 1px 2px 7px black;
        padding: 18px;
        width: 88%;
        border-radius: 20px;
        .t-desc{
            font-size: 22px;
            font-family: 'Libre Franklin', sans-serif;
            font-weight: 500;
        }
    }
}

@media (max-width: 1025px) {
    .contenedor{
        .descripcion{
            padding: 18px;
            .t-desc{
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 769px) {
    .contenedor{
        .descripcion{
            padding: 16px;
            .t-desc{
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 426px) {
    .contenedor{
        .descripcion{
            padding: 16px;
            .t-desc{
                font-size: 12px;
            }
        }
    }
}