.mockups{
    height: 635px;
    .imgs-atras{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        img{
            width: 45%;
        }
    }
    .img-frente{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 280px;
        img{
            width: 54%;
        }
    }
}