.mockups{
    height: 635px;
    .imgs-atras{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        img{
            width: 45%;
        }
    }
    .img-frente{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 280px;
        img{
            width: 54%;
        }
    }
}

@media (max-width: 1025px) {
    .mockups{
        height: 462px;
        .imgs-atras{
            gap: 18px;
            img{
                width: 43%;
            }
        }
        .img-frente{
            bottom: 180px;
            img{
                width: 52%;
            }
        }
    }
}

@media (max-width: 769px) {
    .mockups{
        height: 334px;
        .imgs-atras{
            gap: 18px;
            img{
                width: 42%;
            }
        }
        .img-frente{
            bottom: 140px;
            img{
                width: 50%;
            }
        }
    }
}

@media (max-width: 426px) {
    .mockups{
        height: 204px;
        .imgs-atras{
            gap: 18px;
            img{
                width: 42%;
            }
        }
        .img-frente{
            bottom: 54px;
            img{
                width: 50%;
            }
        }
    }
}
