.proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 28px;
    .proyectos-card{
        display: flex;
        margin-top: 20px;
        box-shadow: 1px 1px 4px black;
        border-radius: 20px;
        gap: 2%;
        padding: 1%;
             img{
                 width: 50%;
             }
         .componentes-card{
             display: flex;
             flex-direction: column;
             gap: 40px;
             padding-right: 28px;
             h2{
                 font-size: 30px;
                 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
             }
             p{
                font-size: 18px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
             }
             .btn-ver-producto{
                background-color: black;
                width: 180px;
                height: 30px;
                font-size: 18px;
                border-radius: 16px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
             }
         }
     }
}

