.proyectos-card{
   display: flex;
   margin-top: 20px;
   box-shadow: 1px 1px 4px black;
   border-radius: 20px;
   gap: 16%;
        img{
            width: 44%;
        }
    .componentes-card{
        display: flex;
        flex-direction: column;
        gap: 40px;
        h2{
            font-size: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        p{
            width: 30px;
        }
        .btn-ver-producto{
            background-color: black;
            width: 180px;
            height: 30px;
            font-size: 18px;
            border-radius: 16px;
            padding: 2px;
            a{
                color: white;
            }
        }
    }
}