.content{
   padding:2%;
    .tecnologias{
        display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         gap: 40px;
         padding: 20px;
         .html-card{
             width: 14%;
             display: flex;
             flex-direction: column;
             align-items: center;
             box-shadow: 1px 2px 7px black;
             justify-content: center;
             padding: 18px;
             border-radius: 16px;
             img{
                 width: 98%;
                 margin-top: 10px;
             }
             h3{
                 font-family: 'Libre Franklin', sans-serif;
                 font-weight: 600;
                 font-size: 24px;
             }
         }
     }
     .complementos{
         display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 60px;
          padding: 20px;
          .html-card{
             width: 14%;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             box-shadow: 1px 2px 7px black;
             padding: 18px;
             border-radius: 16px;
              img{
                  width: 100%;
                  margin-top: 10px;
              }
              h3{
                  font-family: 'Libre Franklin', sans-serif;
                  font-weight: 600;
                  font-size: 24px;
              }
          }
      }
}
