.content{
   padding:2%;
    .tecnologias{
        display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         gap: 40px;
         padding: 20px;
     }
}